<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dimple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52B0828A1F0D67AF0044AC85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B0829E1F0D67B00044AC85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B082A91F0D67B00044AC85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
